.hero {
	background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
	text-align: center;
	color: white;
}

.hero h1 {
	font-size: 70px;
}

.nav-item a {
	color: white;
}

body {
	font-family: Helvetica;
}

h1, h2, h3 {
	font-weight: bold;
}

.supporting {
	text-align: center;
}

.supporting h2 {
	font-size: 32px;
}

.supporting h3 {
	font-size: 23px;
}

.supporting p {
	font-size: 14px;
}

.footer {
	background-color: dimgray;
    color: white;
}

.footer .nav-item {
	color: white;
}

.copyright {
	font-size: 11px;
}

.nav-item {
	font-size: 18px;
}